.pageTitle{
    padding: var(--size-lrg);
    background: var(--color-30-third);
    font-size: 8rem;
    font-weight: 600;
    text-align: center;
    color: var(--color-gc-10);
}

.contactDetails{
    margin: var(--size-lrg) var(--size-con);
    display: flex;
    flex-flow: row wrap;
    gap: var(--size-mid);
}

.contactDetails > a{
    flex: 1;
    padding: var(--size-sml);
    min-width: 280px;
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
    gap: var(--size-sml);
    border: 1px solid var(--color-border);
    border-radius: 6px;
    transition: all .2s;
}

.contactDetails > a,
.contactDetails > a:link,
.contactDetails > a:visited{
    color: var(--color-gc-4);
    text-decoration: none;
    font-size: 3.5rem;
    font-weight: 500;
}

.contactDetails > a img{
    height: 50px;
}

.contactDetails > a span{
    flex: 1;
    text-align: center;
}

.contactDetails > a:hover{
    background: var(--color-gc-9);
}

.contactForm{
    margin: 0 var(--size-con) var(--size-lrg) var(--size-con);
    padding: var(--size-big);
    border: 1px solid var(--color-border);
    border-radius: 6px;
    display: flex;
    flex-flow: column nowrap;
    gap: var(--size-mid);
}

.contactFormIntro{
    padding: var(--size-mid) 0;
    display: flex;
    flex-flow: column nowrap;
    gap: var(--size-sml);
}

.contactFormIntroTitle{
    font-size: 6rem;
    font-weight: 600;
}

.contactFormIntroSubTitle{
    font-size: 4rem;
}

.contactForm input,
.contactForm textarea{
    padding: var(--size-tin) var(--size-sml);
    border: 1px solid var(--color-border);
    border-radius: 6px;
    font-family: inherit;
    font-size: inherit;
    color: inherit;
}

.contactForm textarea{
    height: 150px;
    min-height: 50px;
    max-height: 200px;
    resize: horizontal;
}

.contactForm button{
    padding: var(--size-sml);
    background: var(--color-10);
    font-family: inherit;
    font-size: 3.5rem;
    font-weight: 500;
    color: var(--color-light);
    border: none;
    border-radius: 6px;
    cursor: pointer;
}

.contactForm button:hover{
    background: var(--color-10-second);
}