:root{
	--main-header-height: max(22.5vh, 30rem);
	--main-header-height-mobile: max(22.5dvh, 30rem);

	--size-tin: 1rem;
	--size-sml: 2rem;
	--size-mid: 3rem;
	--size-big: 6rem;
	--size-lrg: 12rem;
	--size-con: 17.5vw;

	--color-60: #F7F7F9;
	--color-60-second: #F9F7F7;
	--color-30: #c0cde6;
	--color-30-second: #acbedc;
	--color-30-third: #9eb4db;
	--color-10: #3F72AF;
	--color-10-second: #5387C7;
	
	--color-gc-0: #000000;
	--color-gc-2: #252525;
	--color-gc-3: #363636;
	--color-gc-4: #474747;
	--color-gc-5: #7A7A7A;
	--color-gc-6: #A4A4A4;
	--color-gc-7: #B5B5B5;
	--color-gc-8: #C6C6C6;
	--color-gc-9: #D7D7D7;
	--color-gc-10: #FFFFFF;
	
	--color-border: var(--color-gc-9);
}

@media only screen and (max-width: 1200px) {
	:root{
		--size-con: 10vw;
	}
}

@media only screen and (max-width: 600px) {
	:root{
		--size-con: 3rem;
	}
}